body {
    background-image: url("/assets/img/wallpaper_plano.jpg");
    background-attachment: fixed;
    text-align: center;
}

.cabecera {
    margin:0 auto;
}

.cabecera a {
    font-weight: bold;
    padding:0 0 0 0;       /* top right bottom left */
    text-decoration: none;
}

.cabecera a:hover {
    color:rgb(211, 211, 205);
}

.contenedor {
    display: flex;
    padding: 2em;
}

.contenido {
    background-color: rgba(255,255,255,0.6);
    margin:0 auto;
    padding:1em;
    max-width: 1000px;
    padding:1em 0 0 0;
}

.a-fotito {
    color:black;
    bottom:2.5em;
}

.fotito {
    border: black 1px solid;
    background-color: white;
    padding:0.5em 0.5em 1.4em 0.5em;
}

.foto-perfil {
    width: 400px;
}

.lista-perfil {
    text-align: left;
}

.logo {
    width: 8em;
    margin:0 4em 0 0;  /* top right bottom left */
}


.nombre {
    position: relative;
    top:-0.3em;
    left:-5.4em;
    
}

.navigation {
    display: flex;
    justify-content:center;
    margin: 0 auto;
    max-width: 1200px;
}

.subtitulo {
    color: gray;
    text-decoration: underline;
}

.tecnologias {
    margin: 4em 0;
    padding: 1em;
}

.tec-ul {
    left:40%;
    position:relative;
    text-align: left;
}